{% extends "layout/base.html" %}
{% block title %}Авторизация{% endblock %}
{% block content %}

{% if form.errors %}
  <p>Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте снова.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form class='createAppli' method="post" action="{% url 'main:login' %}">
{% csrf_token %}
<div class="lastFourApli">Авторизация</div>
 <div class="lastFourApli2">Заполните данную форму</div>
   <div class='forFormAppli'>

   <p> {{ form.username }}</p>

   <p>{{ form.password }}</p>


<input class='deleteButton' type="submit" value="Вход">
</div>
</form>
{% endblock %}