*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Helvetica;
}


.menu{
display: flex;
background-color: aqua;
height: 100px;
align-items: center;
}

.menuel{
flex-grow: 1;
padding: 10px 10px 10px 10px;
}


.profile{
padding: 10px 10px 10px 10px;
}

.applications{
border-style: solid;
border-radius: 1em;
margin:5px 5px 5px 5px;
padding:5px 5px 5px 5px;
}

.applications_items{
font-size: 25px;
margin-left: auto;
margin-right: auto;
width: 6em
}

.imageForApplication{
width: 200px;
height: 150px;
}

/* auth */

.headEr{
    display: flex;
    justify-content: center;
    background-color: rgb(196, 190, 184);
    height: 100px;
    padding: 10px 10px 10px 10px ;
    align-items: center;
}

.headErEl{
    flex-grow: 2.5;
    padding-left: 10px;
    font-size: 40px;
}

.forHeadErEl{
    display: flex;
    justify-content: center;
    flex: 1;
}

.headErEl1{
    flex-grow: 1;
}

.headErEl2{
    display: flex;
    flex-grow: 0.3;
    padding-right: 10px;
    justify-content: end;
}

a{
    text-decoration: none;
    color: #0e0d0d;
}

.mainI{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainBlock{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #ece4da;
    display: flex;
    width: 700px;
    height: 500px;
    padding: 10px 10px 10px 10px;
    margin: 25px 10px 10px 10px;
    border-radius: 2em;
}

.elMainBlock{
    padding-top: 5px;
    font-size: 35px;
}

.elMainBlock2{
    padding-bottom: 20px;
}

.elMainBlock{
    flex-grow: 1;
}

.elsMainBlocks{
    flex-grow: 1;
}

.forsB{
    flex-grow: 0.3;
}

#sB{
    border-radius: 1em;
    width: 400px;
    height: 50px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

.iP{
    border-radius: 1em;
    width: 600px;
    height: 50px;
    margin-bottom: 10px;
}


/* registration */

.mainBlockReg{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #ece4da;
    display: flex;
    width: 700px;
    height: 800px;
    padding: 10px 10px 10px 10px;
    margin: 25px 10px 10px 10px;
    border-radius: 2em;
}

.elMainBlockSogls{
    display: flex;
}

.elMainBlockSogl2{
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

.elMainBlockSogl1{
    flex-grow: 1;
}

/* mainheader */

.mainHeaderForAuth{
    display: flex;
    background-color: rgb(196, 190, 184);
    height: 100px;
    padding: 10px 10px 10px 10px ;
    align-items: center;
}

.mainHeaderForAuthEl{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainHeaderForAuthEl1{
    flex-grow: 1;
    padding-left: 20px;
    font-size: 40px;
}

.mainHeaderForAuthEl2{
    flex-grow: 10;
}

.mainHeaderForAuthEl3{
    padding-right: 20px;
}

.mainHeaderForAuthEl4{
    flex-grow: 1;
}

/* createdApplications */

.forApplimain{
    display: flex;
    flex-direction: column;
    background-color: #ece4da;
    width: 700px;
    height: 500px;
    padding: 10px 10px 10px 10px;
    margin: 25px 10px 10px 10px;
    border-radius: 1em;
    align-items: center;
}

.forAppli{
    justify-content: center;
    display: flex;
    align-items: center;
}

.forAppliHead{
    align-self: center;
    flex-grow: 1;
}

.forAppliHeadqwer{
    flex-grow: 1;
}


/* main */

.lastFourApli{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 30px;
}

.forAllAppliInmain{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap-reverse;
}

.forAllImg{
    width: 400px;
    height: 300px;
    border-radius:1em;
}

.forApplicationsAll{
    display: flex;
    padding: 20px 20px 20px 20px;
    flex-direction: column;
    background-color: #ece4da;
    margin: 10px 10px 10px 10px;
    border-radius: 1em;
    width: 400px;
    border-style: solid;
    border-color: #6e6c69;
}

.forApplicationsAllETitle{
    align-self: center;
}

.forApplicationsAllETitle1{
    padding-top: 10px;
}
/* profile */

.forProfile{
    display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  font-size: 30px;
}

.forAppliUser{
    padding-left: 15px;
}

/* count */

.countCheck{
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.countCheckEL{
    background-color: #ece4da;
    width: 250px;
    text-align: center;
    border-radius: 1em;
    padding: 5px 5px 5px 5px;
}

.countCheckNumb{
    display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.countCheckELTwo{
    background-color: #ece4da;
    width: 50px;
    text-align: center;
    border-radius: 1em;
    padding: 5px 5px 5px 5px;
}

.deleteAppli{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.deleteButton{
    border-radius: 1em;
    width: 250px;
    height: 50px;
    margin-top: 10px;
    }


.createAppli{
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.forFormAppli{
    background-color: #ece4da;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    margin: 25px 10px 10px 10px;
    align-items: center;
    border-radius: 1em;
}

#id_title{
margin-top: 10px;
margin-bottom: 10px;
width: 312px;
}

#id_description{
margin-bottom: 10px;
}

#id_image{
margin-bottom: 10px;
}

.lastFourApli2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 20px;
}

#id_username{
width: 312px;
margin-bottom: 10px;
}

#id_email{
width: 312px;
margin-bottom: 10px;
}

#id_email{
width: 312px;
margin-bottom: 10px;
}

#id_fio{
width: 312px;
margin-bottom: 10px;
}

#id_password{
width: 312px;
margin-bottom: 10px;
}

#id_password2{
width: 312px;
margin-bottom: 10px;
}

#id_send_messages{
margin-bottom: 10px;
}

.forMainPicture {
	width: 100%;
	height: 1000px;
}

